body {
    font-family: sans-serif;
    background: #E8EAED;
  }

.page {
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: 3rem auto;
}

.x-cancel {
  color: black;
  font-weight: 300;
  font-family: Arial, sans-serif;
  margin-left: auto;
  width: 10px;
  cursor: pointer;
}

.post-card {
  display: block;
  background:white;
  margin: 10px 0 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  width: 910px;
}

.post-text {
  width: 900px;
}

.post-button {
  width: 150px;
  margin-left: auto;
  margin-top: 10px;
}

button {
  margin-right: 2px;
}